.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 6rem 0 0 0;
  cursor: pointer;
  transition: all 1s ease;
}

.animation {
  animation-name: slideInRight;
  animation-duration: 1.3s;
  animation-fill-mode: both;
}

.paperTools,
.paperHouse {
  width: 100%;
  margin: 2rem 0 0 3rem;
  height: 26rem;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  background-image: url("public/images/fayyad/tools3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
}

.paperHouse {
  background-image: url("public/images/fayyad/houseware.jpg");
}

.paperHouse .paperText {
  color: #333;
}

.linkShope {
  background-color: #03c7ff;
  position: absolute;
  border-radius: 6px;
  font-weight: 600;
  opacity: 0;
  color: white;
  margin: 7% 0 0 18%;
  font-size: 14px;
  padding: 18px 32px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.linkShope:hover {
  opacity: 1;
  background-color: white;
  color: #03c7ff;
}

.paperTools:hover .linkShope,
.paperHouse:hover .linkShope,
.paper3:hover .linkShope {
  opacity: 1;
}

.paperText {
  display: grid;
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 1.5rem;
  font-weight: 800;
  color: white;
  animation: animateText 3s linear infinite;
}

.paperText span {
  margin: 0 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  font-size: 1.3rem;
}

.linkShope::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #03c7ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkShope:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .paperTools,
  .paperHouse {
    width: 90%;
    height: 18rem;
  }
}

@media (min-width: 770px) and (max-width: 991px) {
  .paperTools,
  .paperHouse {
    width: 50%;
    height: 15rem;
  }
}

@media (max-width: 769px) {
  .container {
    flex-direction: column;
    margin: 0;
  }
  .paperTools,
  .paperHouse {
    width: 95%;
    height: 24rem;
    margin: 0 0 0 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .paperTools,
  .paperHouse {
    width: 95%;
    height: 15.5rem;
    margin: 0.8rem;
    margin-left: 1rem;
  }
}

@media (max-width: 1300px) {
  .paperTools:hover .linkShope,
  .paperHouse:hover .linkShope {
    opacity: 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}
