/*-----------style Drawer-------------*/
.closeDrawer {
  color: #333;
  transition: all 0.2s ease-out;
}

.closeDrawer:hover {
  color: #03c7ff;
  transition: all 0.2s ease-in;
}

.shoppingCartIcon {
  font-size: 1.8rem;
  color: #03c7ff;
  margin-top: -0.35rem;
}

.totalAmount {
  display: flex;
}

.totalP {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
  border-left: 6px solid #03c7ff;
  padding-left: 0.8rem;
  text-transform: capitalize;
}

.priceP {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 2rem;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.btn {
  padding: 1rem 6rem;
  background-color: #333;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: calibri;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out;
}

.btn:hover {
  background-color: #03c7ff;
  transition: all 0.4s ease-in;
}
/*------------------X--------------------*/

/*-------------style Payment method-----------*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.uWalletContainerImg {
  width: 400px;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.3s ease-out;
}

.uWalletContainerImg:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.uWalletImg {
  border-radius: 20px;
}

.ContainerCash {
  width: 400px;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: all 0.3s ease-out;
}

.ContainerCash:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.textImg {
  text-transform: capitalize;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}

.cashImg {
  border-radius: 20px;
}

.h1Text {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}

.h1Text span {
  color: #03c7ff;
  font-size: 5rem;
  text-align: center;
  margin-top: -2.5rem;
}

.closeIcon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease-out;
}

.closeIcon:hover {
  color: #03c7ff;
  transition: all 0.3s ease-in;
}

.cartEmpty {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 500;
  animation-name: slideInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.cartEmpty span {
  font-weight: 700;
  font-size: 1.2rem;
  color: #03c7ff;
}

@media (max-width: 676px) {
  .h1Text {
    font-size: 1.7rem;
  }
}

@media (max-width: 490px) {
  .uWalletContainerImg {
    width: 300px;
    height: 100%;
  }

  .ContainerCash {
    width: 300px;
    height: 100%;
  }
  .h1Text {
    font-size: 1.4rem;
  }
}

@media (max-width: 380px) {
  .uWalletContainerImg {
    width: 250px;
    height: 100%;
  }

  .ContainerCash {
    width: 250px;
    height: 100%;
  }
  .h1Text {
    font-size: 1.2rem;
  }
}

@media (max-width: 330px) {
  .uWalletContainerImg {
    width: 200px;
    height: 100%;
  }

  .ContainerCash {
    width: 200px;
    height: 100%;
  }
  .h1Text {
    font-size: 0.95rem;
  }
}

/*---------------------X-------------------*/

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
