@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://rsms.me/inter/inter.css");

.main {
  background-color: transparent;
  color: #000;
  opacity: 0.9;
  padding: 1.4rem 0.5rem;
  transition: all 0.8s;
  box-shadow: none;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

/*----main when scroll down------*/
.mainScroll {
  background: linear-gradient(
    161deg,
    rgb(37, 37, 37) 0%,
    rgba(99, 99, 99, 0.986) 100%
  );
  color: #fff;
  opacity: 0.85;
  transition: all 0.8s;
  padding: 0.7rem 0.4rem 0.8rem 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
/*---------------X---------------*/

.linkMenu ul {
  display: flex;
  padding: 0 10rem;
  margin: 0;
}

.linkMenu ul li {
  list-style: none;
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-family: "Inter var", sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.linkMenu ul li:hover {
  color: #03c7ff;
  transition: all 0.3s ease-in;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
  margin: 0 0 0 0.5rem;
  transition: all 0.6s ease-in-out;
}

.logo:hover {
  color: #000;
}

.logoIcon {
  margin: 0 0 0.3rem 0.5rem;
}

/*---logo style when scroll down---*/
.logoScroll {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}

.logoScroll:hover {
  color: #fff;
}
/*----------------X----------------*/

.badgCart {
  margin: 0.3rem 0.5rem 0 0;
}

.mainDrawer {
  width: 19rem;
}

.listItemText {
  font-size: 1.3rem;
}

.icons {
  color: #03c7ff;
  font-size: 1.7rem;
  margin: 0 0 0.4rem 0;
  opacity: 0.7;
}

.menuText {
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Inter var", sans-serif;
  color: #000;
}

.menuIcon {
  font-size: 1.7rem;
  margin: 0 0 0 1.5rem;
  cursor: pointer;
  display: none;
}

.containerDrawerCart {
  display: flex;
  align-items: center;
}

/*-----dropDown button styles------*/
.dropBtn {
  background-color: transparent;
  color: #03c7ff;
  font-weight: 800;
  font-size: 16px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.1s ease-out;
}

.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  letter-spacing: 0.5px;
}

.dropDownContent a:hover {
  background-color: #f1f1f1;
  color: #03c7ff;
  transition: all 0.1s ease-in;
}

.dropDown:hover .dropDownContent {
  display: block;
}

/*----------------X----------------*/

@media (max-width: 1070px) {
  .menuIcon {
    display: block;
  }

  .linkMenu {
    display: none;
  }
}
