.navbar {
  padding-bottom: 2rem;
}

/*---------heart icon-------*/
.FavouriteProducts {
  font-size: 1.9rem;
  color: #03c7ff;
  margin-left: 0.9rem;
  /* margin-right: 0.2rem; */
  cursor: pointer;
  /* padding-left: 0.8rem; */
}
/*-------------X------------*/

/*---------cart icon---------*/
.cart {
  font-size: 1.9rem;
  color: #333;
  cursor: pointer;
  /* margin-right: 1rem; */
}

.cartScroll {
  color: #03c7ff;
  font-size: 1.9rem;
  cursor: pointer;
}
/*-------------X-------------*/

/*------------login button----------*/
.loginBtn {
  margin: 0.85rem;
  border-bottom: 4px solid #333;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  background: none;
  transition: all 0.2s ease-in;
}

.loginBtn:hover {
  color: #333;
  color: #03c7ff;
  transition: all 0.2s ease-out;
}

.loginIcon {
  font-size: 1.1rem;
}
/*-----------------X----------------*/

/*--------All Link (individual)--------*/
.link {
  font-weight: 700;
  color: black;
  text-decoration: none;
  margin: 0.85rem;
  transition: all 0.2s ease-in;
}

.link:hover {
  color: #03c7ff;
  transition: all 0.2s ease-out;
}

/* change Style Link if you scrolling down */
.linkScroll {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin: 0.85rem;
}

.linkScroll:hover {
  color: #03c7ff;
  transition: all 0.3s ease-in-out;
}

/*------------------X------------------*/

/*-------Home Link--------*/
.link1 {
  font-weight: 700;
  color: #03c7ff;
  text-decoration: none;
  margin: 0.85rem;
}

.link1:hover {
  color: #03c7ff;
}
/*-----------X-----------*/

/*-----All Link together-------*/
.menu {
  margin-left: 1rem;
}
/*-------------X---------------*/

/*------Logo (AlFayyad Store)-------*/
.logo {
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
}

.logo:hover {
  color: #000;
  transition: all 0.2s ease-in-out;
}

/* Change style logo if you scrolling down */
.logoScroll {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.logoScroll:hover {
  color: #fff;
}
/*----------------X------------------*/

/*---------------navbar main----------*/
.navbarMain {
  background-color: transparent;
  padding: 2rem;
  margin-top: 1.5rem;
  transition: all 0.5s ease-out;
}

/*change style when you scrool down*/
.navbarMainScroll {
  background: linear-gradient(
    161deg,
    rgb(14, 14, 14) 0%,
    rgba(150, 149, 149, 0.986) 100%
  );
  /* padding: 1rem 2rem 1rem 3rem; */
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 990px) {
  .navbarMain {
    background: linear-gradient(
      161deg,
      rgb(14, 14, 14) 0%,
      rgba(150, 149, 149, 0.986) 100%
    );
    margin: 0;
    padding: 0%;
  }
  .logo {
    color: #fff;
  }
  .link {
    color: #fff;
  }
  .loginBtn {
    color: #fff;
  }
}

/*-------------------X----------------*/
