.body {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 10rem;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1350px;
  margin: rem auto;
  display: flex;
}

.rightColumn {
  width: 40%;
  margin-top: 60px;
}

.image {
  width: 100%;
  height: 80%;
  max-width: 1300px;
}

.navTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: -3rem;
}

.productDescription {
  border-bottom: 1px solid #e1e8ee;
  margin-left: 1rem;
  margin-bottom: 20px;
}
.productDescription span {
  font-size: 16px;
  color: #03c8ff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.productDescription h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.productDescription p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.productPrice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1rem;
}

.productPrice span {
  font-size: 26px;
  font-weight: 400;
  color: #43474d;
  margin-right: 20px;
  border-left: 5px solid #03c8ff;
  padding-left: 0.5rem;
}

.addToCart {
  display: inline-block;
  background: linear-gradient(
    161deg,
    rgb(14, 14, 14) 0%,
    rgba(150, 149, 149, 0.986) 100%
  );
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.addToCart:hover {
  color: #ffffff;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .image {
    width: 100%;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }
}

@media (max-width: 535px) {
  .image {
    width: 100%;
  }
}
