.container {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0 10rem 0;
}

.animation {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.PropertiesBox {
  display: flexbox;
  flex-direction: column;
  max-width: 25%;
}

.icon {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .PropertiesBox {
    max-width: 100%;
    margin: 0 0 1.5rem 0;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
