@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.containerAllRefundPolicy {
  width: 50% !important;
  margin-top: 2rem;
}

.h1Text {
  text-align: center;
  margin-top: 8rem;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.containerAllRefundPolicy p {
  font-family: "Lora", serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.containerAllRefundPolicy li {
  font-family: "Lora", serif;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .containerAllRefundPolicy {
    width: 100% !important;
  }
}
