.linkTermsAndConditions,
.linklogin {
  color: #03c7ff;
  text-decoration: none;
}

.registerBtn {
  padding: 0.5rem 2.5rem;
  background-color: #03c7ff;
  border: 1px solid #03c7ff;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
}
