@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.containerAllSalesPolicies {
  width: 50% !important;
  margin: 2rem 0 0 0;
}

.h1Text {
  text-align: center;
  margin: 8rem 0 0 0;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.containerAllSalesPolicies h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.containerAllSalesPolicies p {
  font-family: "Lora", serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.containerAllSalesPolicies li {
  font-family: "Lora", serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: #03c7ff;
}

.link:hover {
  color: #03c7ff;
}

@media (max-width: 1000px) {
  .containerAllSalesPolicies {
    width: 100% !important;
  }
}
