.main {
  background-image: url("public/images/fayyad/email.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 5rem;
  height: 22rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.container h6 {
  padding: 0 0 2rem 0;
  color: #03c7ff;
  font-weight: 700;
}

.container h1 {
  padding: 0 0 3rem 0;
  color: #333;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.containerEmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputEmail {
  margin: 0 0.5rem 0 0;
  width: 25rem;
  height: 60px;
  border: none;
  border-radius: 4px;
  padding: 0 0 0 1rem;
  font-weight: 500;
}

.inputEmail:focus {
  outline: none;
}

.btnSubsecripe {
  padding: 1.1rem 1.7rem;
  border: none;
  background-color: #03c7ff;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 6px;
}

@media (max-width: 630px) {
  .containerEmail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btnSubsecripe {
    margin-top: 1rem;
  }

  .main {
    height: 25rem;
  }
}

@media (max-width: 435px) {
  .inputEmail {
    width: 20rem;
  }
}

@media (max-width: 355px) {
  .inputEmail {
    width: 16rem;
  }

  .main {
    height: 28rem;
  }
}
