@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

/*--------main header container-----------*/
.header {
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  margin-bottom: -1rem;
  transition: all 0.8s;
}
/* header when scroll down */
.headerScroll {
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    161deg,
    rgb(14, 14, 14) 0%,
    rgba(150, 149, 149, 0.986) 100%
  );
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  margin-top: -1rem;
  padding-bottom: -10rem;
  transition: all 0.8s;
  opacity: 0.95;
}
/*--------------------X-----------------*/

/*------------logo Al fayyad------------*/
.logo a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Bree Serif", serif;
  color: #333;
}
.logo a:hover {
  color: #333;
}
/* logo when scroll down */
.logoScroll a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Bree Serif", serif;
  color: #fafafa;
}
.logoScroll {
  padding-top: 1rem;
}
.logoScroll a:hover {
  color: #fafafa;
}

/*------------------X-------------------*/

/*--------------nav link----------------*/
.nav {
  display: flex;
  margin-top: 1rem;
  padding-top: 1rem;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  width: 6rem;
}

.nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
  font-weight: 800;
  transition: all 0.3s ease-in;
  /* padding: 0 15px; */
}

.nav ul li a:hover {
  color: #03c7ff;
  transition: all 0.3s ease-out;
}

/* nav link when scroll down*/
.navScroll {
  display: flex;
  margin-top: 1rem;
  padding-top: 1rem;
}

.navScroll ul li {
  list-style: none;
  display: inline-block;
  width: 6rem;
}

.navScroll ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fafafa;
  font-weight: 800;
  transition: all 0.3s ease-in;
}

.navScroll ul li a:hover {
  color: #03c7ff;
  transition: all 0.3s ease-out;
}
/*-----------------X----------------*/

/*----------shopping cart-----------*/
.navCart {
  cursor: pointer;
  position: relative;
}

.shoppingCartIcon {
  font-size: 1.8rem;
  color: #03c7ff;
}

/* shopping cart when scroll down */
.navCartScroll {
  cursor: pointer;
  position: relative;
}

.shoppingCartIcon {
  font-size: 1.8rem;
}

/*-----------------X----------------*/

/*----------search feild------------*/
.searchIcon {
  font-size: 1.8rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
/*----------------X-----------------*/

/*---------menu icon----------------*/
.menuIcon {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
}
/*-------------X-------------------*/

/*--------close menu icon----------*/
.closeIcon {
  cursor: pointer;
  display: none;
  font-size: 1.8rem;
}
/*---------------X-----------------*/

@media (max-width: 740px) {
  .nav ul {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    z-index: 99;
    opacity: 0.98;
    transition: 0.5s linear;
  }
  .nav {
    margin-top: -0.3rem;
  }
  .nav ul li a {
    text-align: center;
    color: #333;
    font-weight: 800;
  }
  .menuIcon,
  .closeIcon {
    display: block;
  }
  .closeIcon {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .nav .toogle {
    top: 0;
  }
  /* responsive navbar when scroll down */
  .navScroll ul {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    z-index: 99;
    opacity: 0.98;
    transition: 0.5s linear;
  }
  .navScroll {
    margin-top: -0.3rem;
  }
  .navScroll ul li a {
    text-align: center;
    color: #333;
    font-weight: 800;
  }
  .navScroll .toogle {
    top: 0;
  }
}
